.contacts {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1.9;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    justify-content: flex-start;
    gap: 11.8%;
  }

  @media (max-width: $mobile-width) {
    gap: 0;
    flex-direction: column;
  }
}

.contacts ul {
  margin-top: 35px;
  list-style: none;
  padding: 0;

  @media (max-width: $tablet-width) {
    margin-top: 46px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 5px;
  }
}

.contacts__about {
  margin-right: 19px;
}

.contacts__social {
  @media (max-width: $mobile-width) {
    gap: 6%;
    display: flex;

    & span {
      display: none;
    }

    & svg {
      width: 20px;
      height: 20px;
    }
  }
}

.contacts li {
  margin-bottom: 21px;
}

.contacts svg {
  width: 15px;
  margin-right: 10px;
}
