.contacts {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1.9;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    justify-content: flex-start;
    gap: 11.8%;
  }
}

.contacts ul {
  margin-top: 35px;
  list-style: none;
  padding: 0;

  @media (max-width: $tablet-width) {
    margin-top: 46px;
  }
}

.contacts__about {
  margin-right: 19px;
}


.contacts li {
  margin-bottom: 21px;
}

.contacts svg {
  width: 15px;
  margin-right: 10px;
}

@media (max-width: $mobile-width) {
  .contacts {
    gap: 0;
    flex-direction: column;
  }

  .contacts ul {
    margin-top: 6px;
  }

  .contacts__social {
    gap: 6%;
    display: flex;
  }

  .contacts__social span {
    display: none;
  }

  .contacts__social svg {
    width: 20px;
    height: 20px;
  }
}
