.filter {
  flex: 0 1 21.4%;
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.filter__close {
  display: none;
}

.filter__range-controls {
  display: none;
  position: relative;
  padding: 25px 4px 28px 6px;
}

.filter__scale {
  height: 1px;
  background-color: $color-desert-storm;
  position: relative;
}

.filter__bar {
  position: absolute;
  left: 58px;
  width: 50%;
  height: 100%;
  background-color: $color-medium-wood;
}

.filter__toggle {
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  width: 4px;
  height: 4px;
  transform: translateY(-56%);
  border-radius: 50%;
  border: 8px solid $color-medium-wood;
  background-color: $color-medium-wood;
  cursor: pointer;
  overflow: hidden;
}

.filter__toggle:hover {
  transform: scale(1.2, 1.1) translateY(-45%);
}

.filter__range-controls span {
  position: absolute;
  right: 0;
  font-size: 14px;
  line-height: 18.2px;
  font-weight: 500;
  top: 39px;
}

.filter__toggle--min {
  left: 24%;
}

.filter__toggle--min + span {
  left: 21%;
}

.filter__toggle--max {
  left: 74%;
}

.filter__toggle--max + span {
  left: 70%;
}

.filter__fieldset {
  padding: 21px 19px;
  position: relative;
  border: 1px solid $color-medium-wood;
  border-bottom: none;
}

.filter__fieldset--range {
  border-bottom: 1px solid $color-medium-wood;
}

.filter__fieldset button {
  font-family: $ff-poppins;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 500;
  color: $color-wood-bark;
  border: 0;
  background: transparent;

  &:after {
    content: "";
    position: absolute;
    width: 22px;
    height: 9px;
    background: url("../img/svg/arrow-down.svg") no-repeat bottom;
    right: 21px;
    top: 27px;
    transition: .3s;
  }
}

.filter__fieldset--active button:after {
  transform: rotate(180deg);
}

.filter__fieldset--active .filter__item {
  display: flex;
}

.filter__fieldset--active .filter__range-controls {
  display: block;
}

.filter form {
  width: 100%;
}

.filter__accordion {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  padding: 1.5rem 1.6rem 1.4rem 1.6rem;
}

.filter__accordion:after {
  right: 1.55rem;
  top: 1.8rem;
}

.filter__item {
  display: none;
  padding: 22px 23px 5px 23px;
  flex-direction: column;
  gap: 12px;
}

.filter__item label {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: $color-wood-bark;
  padding-left: 2.6rem;
  position: relative;
}

.filter label {
  padding-left: 1.2em;
}

.filter input {
  appearance: none;
  position: absolute;
}

.filter input[type=checkbox] {
  position: absolute;
  margin-top: 0.1rem;
  margin-left: -1.6rem;
  width: 15px;
  height: 15px;
  overflow: hidden;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid $color-medium-wood;
}

.filter input[type=checkbox]:checked {
  background-color: $color-medium-wood;
}

.filter button,
.filter a,
.filter input {
  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.filter__apply {
  width: 100%;
  height: 68px;
  border: none;
  background-color: $color-medium-wood;
  color: $color-default-white;
  border: 1px solid $color-medium-wood;
  margin-top: 35px;
  cursor: pointer;
}

.filter__clearall {
  width: 100%;
  height: 68px;
  background-color: $color-default-white;
  border: 1px solid $color-medium-wood;
  color: $color-wood-bark;
  margin-top: 25px;
  cursor: pointer;
}

@media(max-width: $tablet-width) {
  .filter {
    display: none;
  }

  .filter form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .filter--open {
    box-shadow: 0px 5px 32px rgba(219, 213, 208, 0.24);
    display: flex;
    z-index: 11;
    position: absolute;
    min-width: 280px;
    max-width: 462px;
    left: 0;
    top: 25px;
    width: 100%;
  }

  .filter__fieldset {
    padding: 35px 18px 30px 17px;
    border: none;
    border-bottom: 1px solid $color-medium-wood;
    margin-right: 40px;
  }

  .filter__fieldset button {
    font-size: 18px;
    line-height: 23.4px;

    &:after {
      width: 33px;
      height: 13px;
      background: url("../img/svg/arrow-down.svg") no-repeat center;
      right: 34px;
      background-size: contain;
      top: 41px;
    }
  }

  .filter__range-controls {
    padding: 29px 4px 39px 14px;
  }

  .filter__bar {
    left: 55px;
  }

  .filter__toggle {
    border: 9px solid $color-medium-wood;
    transform: translateY(-74%);
  }

  .filter__toggle + span {
    font-size: 16px;
    line-height: 20.8px;
    top: 47px;
  }

  .filter__toggle--min {
    left: 15%;
  }

  .filter__toggle--min + span {
    left: 13.5%;
  }

  .filter__toggle--max {
    left: 61%;
  }

  .filter__toggle--max + span {
    left: 57.5%;
  }

  .filter__close {
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -14px;
    right: 22px;
    border: none;
    padding: 0;
    z-index: 1;
    background-color: $color-default-white;
  }

  .filter__close button {
    width: 100%;
    height:100%;
    border: 0;
    border-radius: 50%;
    background: $color-wood-bark;
  }

  .filter__item {
    gap: 18px;
  }

  .filter__item label {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
  }

  .filter input[type=checkbox] {
    margin-top: 0;
    margin-left: -1.8rem;
    width: 17px;
    height: 17px;
  }

  .filter__apply,
  .filter__clearall {
    width: 79%;
    position: relative;
    max-width: 400px;
    left: 20px;
  }

  .filter__apply {
    margin-top: 2.6rem;
  }

}

@media(max-width: $mobile-width) {

  .filter--open {
    min-width: 270px;
    left: 25px;
    top: 77px;
    width: 73%;
    right: 25px;
    margin: 0 auto;
  }

  .filter__close {
    top: -17px;
    right: -10px;
  }

  .filter__fieldset {
    padding: 22px 6px 22px 16px;
    margin-right: 0;
  }

  .filter__fieldset button:after {
    right: 13px;
    top: 28px;
  }

  .filter__range-controls {
    padding: 32px 4px 39px 0;
  }

  .filter__bar {
    left: 36px;
    width: 58%;
  }

  .filter__toggle + span {
    top: 48px;
  }

  .filter__toggle--min + span {
    left: 10.5%;
  }

  .filter__toggle--max {
    left: 70%;
  }

  .filter__toggle--max + span {
    left: 64.5%;
  }

  .filter__buttons button:first-child {
    margin-top: 29px;
  }

  .filter__buttons button {
    width: 85%;
    margin: 20px auto 0;
  }
}
