.header {
  text-align: center;
  overflow-x: hidden;
  background: linear-gradient(transparent 115px, $color-seashell 116px, transparent 116px);

  @media (max-width: $tablet-width) {
    background-color: $color-medium-wood;
  }
}

.header__container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 30px;

  @media (max-width: $tablet-width) {
    padding: 0;
  }
}
